h2 {
  text-align: center;
}

table {
  margin-right: auto;
  margin-left: auto;
}
.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.container {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}
.menu-deader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.close, .create_button{
  font-size: 30px;
  height: 40px;
  width: 40px;
}
.create_button, td button{
  box-shadow: 3px 3px rgba(0, 0, 0, 0.4);
  transition: 0.5s;
}

.create_button{
  background-color: #124d54;
  color: #fefefe;
  border: none;
}

.delete {
  color: white;
  background-color: #f9744b;
}
.delete:hover {
  background-color: #d84f2a;
}
td :last-of-type{
  margin-left: 14px;
}
td button{
  padding: 5px 10px;
}
